<h1>Listing wheels</h1>

<table>
  <tr>
    <th>Hub</th>
    <th>Rim</th>
    <th>Spoke count</th>
    <th>Spoke pattern</th>
  </tr>

<% for wheel in @wheels %>
  <tr>
    <td><%=h wheel.hub %></td>
    <td><%=h wheel.rim %></td>
    <td><%=h wheel.spoke_pattern %></td>
    <td><%= link_to 'Show', wheel %></td>
    <td><%= link_to 'Edit', edit_wheel_path(wheel) %></td>
    <td><%= link_to 'Destroy', wheel, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wheel', new_wheel_path %>
