<p>
  <b>Brand:</b>
  <%=h @rim.brand %>
</p>

<p>
  <b>Description:</b>
  <%=h @rim.description %>
</p>

<p>
  <b>Size:</b>
  <%=h @rim.size %>
</p>

<p>
  <b>Erd:</b>
  <%=h @rim.erd %>
</p>

<p>
  <b>Offset:</b>
  <%=h @rim.offset %>
</p>

<p>
  <b>Hole count:</b>
  <%=h @rim.hole_count %>
</p>


<%= link_to 'Edit', edit_rim_path(@rim) %> |
<%= link_to 'Back', rims_path %>
