<p>
  <b>Brand:</b>
  <%=h @hub.brand %>
</p>

<p>
  <b>Description:</b>
  <%=h @hub.description %>
</p>

<p>
  <b>Rear:</b>
  <%=h @hub.rear %>
</p>

<p>
  <b>Right flange diameter:</b>
  <%=h @hub.right_flange_diameter %>
</p>

<p>
  <b>Right flange to center:</b>
  <%=h @hub.right_flange_to_center %>
</p>

<p>
  <b>Left flange diameter:</b>
  <%=h @hub.left_flange_diameter %>
</p>

<p>
  <b>Left flange to center:</b>
  <%=h @hub.left_flange_to_center %>
</p>

<p>
  <b>Hole count:</b>
  <%=h @hub.hole_count %>
</p>


<%= link_to 'Edit', edit_hub_path(@hub) %> |
<%= link_to 'Back', hubs_path %>
